<!-- app/views/admin/pages/show.html.erb -->
<%= render layout: "layouts/admin_page" do %>
  <div>
    <% sections = controller.get_item&.sections %>
    <% if sections.present? %>
      <% sections.each do |section| %>
        <%= react_component("RenderSection", { section: section, noBorder: true }) %>
      <% end %>
    <% else %>
      <h1>No Content</h1>
    <% end %>
  </div>
<% end %>
