<!-- app/views/admin/dashboard/index.html.erb -->
<% content_for :title, "paul-carrick.com - Amin Dashboard" %>
<%= render layout: "layouts/header" do %>
<% end %>

<%= render layout: "layouts/admin_menu" do %>
<h1> Admin Dashboard</h1>
<p>
  Please chosse an itemm for the menu on the left.
</p>
<% end %>

<%= render layout: "layouts/footer" do %>
<% end %>
