<!-- app/views/admin/dashboard/index.html.erb -->
<%= render layout: "layouts/admin_page" do %>
  <h1> Admin Dashboard</h1>
  <p>
    Please chose an item for the menu on the left.
  </p>
  <p>
    It is <b>highly</b> recommended that administration is not performed on a mobile device.
    There is too much information to display.
    If you must use a mobile device we recommend landscape mode.
  </p>
<% end %>
