<!-- app/views/admin/dashboard/index.html.erb -->
<% content_for :title, "paul-carrick.com - Amin Dashboard" %>
<%= render layout: "layouts/header" do %>
<% end %>

<%= render layout: "layouts/admin_menu" do %>
  <%= render 'shared/flash_error' %>
  <h1> Admin Dashboard</h1>
  <p>
    Please chose an item for the menu on the left.
  </p>
  <p>
    It is <b>highly</b> recommended that administration is not performed on a mobile device.
    There is too much information to display.
    If you must use a mobile device we recommend landscape mode.
  </p>
<% end %>

<%= render layout: "layouts/footer" do %>
<% end %>
