<!-- app/views/admin/dashboard/index.html.erb -->
<% content_for :title, "paul-carrick.com - Amin Dashboard" %>
<%= render layout: "layouts/header" do %>
<% end %>

<section class="bg-light pt-5 text-secondary">
  <div class="container">
    <h1>Admin Dashboard</h1>
  </div>
</section>

<%= render layout: "layouts/footer" do %>
<% end %>
