<!-- app/views/blog/index.html.erb -->
<% content_for :title, "paul-carrick.com - Blog" %>
<%= render layout: "layouts/header" do %>
<% end %>

<section class="bg-light pt-5 text-secondary">
  <div class="container mb-5">
    <%= react_component('PostList', { user: @user,  blog_type: @blog_type }) %>
  </div>
</section>

<%= render layout: "layouts/footer" do %>
<% end %>
