<!-- app/views/contact/new.html.erb -->
<% content_for :title, "paul-carrick.com - Contact" %>
<%= render layout: "layouts/header" do %>
<% end %>

<section class="bg-light text-secondary">
<center><h1><%= @results %></h1></center>
</section>

<%= render layout: "layouts/footer" do %>
<% end %>
