.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.slide {
  display: none;
}

.fade-3 {
  animation: fadeEffect 3s;
}

.fade-5 {
  animation: fadeEffect 3s;
}

.fade-10 {
  animation: fadeEffect 10s;
}

.fade-20 {
  animation: fadeEffect 20s;
}

.fade-30 {
  animation: fadeEffect 30s;
}

@keyframes fadeEffect {
  from {opacity: 0.4}
  to {opacity: 1}
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
}
.grid-item {
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
